name: Coverage

on:
  push:
    branches:
      - main

jobs:
  coverage:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: read

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: qltysh/qlty-action/coverage@a19242102d17e497f437d7466aa01b528537e899
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: coverage/lcov.info
